
.navbar{
    display:flex;
    flex-direction:row;
   


}
.navitem{
    display:inline-block;
    border: 2px solid black;
    background-color: cadetblue;
    border-radius:2px;
    margin: 9px;
    padding:5px 20px;
    margin-top: 15px;
    cursor: pointer;
}